* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Nurillo Start */

/* Nurillo End */

/* --------------------------------------------------- */

/* Bilol Start */

/* Bilol End */

/* --------------------------------------------------- */

/* Abdulaziz Start */
.Abdulaziz {
  padding-bottom: 140px;
  background: #fff;
}

.second-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  column-gap: 50px;
}
.second-list__item {
  max-width: 290px;
}
.second-list__title2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 30px;
}
.second-list__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #333333;
  margin-bottom: 30px;
}

.second-list__wrap__link {
  display: inline-block;
  max-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #ea625c;
}
.second-list__span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #dddddd;
  margin-right: 10px;
}
.second-list__wrap {
  display: flex;
  align-items: center;
}

.list__wrap2 {
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #ea625c;
  margin-left: 10px;
}
.second-list__wrap__link {
  margin-left: 10px;
}

/* Abdulaziz End */

/* --------------------------------------------------- */

/* Sardor Start */

/* Sardor End */

/* --------------------------------------------------- */

/* Begzod Start */

/* Begzod End */
