
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
body{
    font-family: "Roboto", sans-serif;

}

/* Nurillo Start */


.site-header{
    padding: 30px 0 85px 0;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
}
.header__item + .header__item{
    margin-left: 30px;
}
.header__item-link{
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #333333;
}
.header__input{
    padding-bottom: 6px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    outline: none;
    color: #666666;
}
.header__input:focus{
    box-shadow: 0 0 2px 2px lightblue;
    border: none;
}


/* Nurillo End */

/* --------------------------------------------------- */

/* Bilol Start */
.Bilol_wrapper{
    display: flex;
    justify-content: space-between;
}

.Bilol_content{
    width: 490px;
    padding: 91px 0 185px 0;
}

.Bilol_title{
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding-bottom: 30px;
}

.Bilol_text{
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #777777;
    flex: none;
    order: 1;
    margin-bottom: 30px;
    padding-left: 42px;
}

.Bilol_text::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #777777;
}


.Bilol_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    background: #EA625C;
    padding: 12px 38.5px;
}

.Bilol_link:hover{
    background: #933732;
}


/* Bilol End */

/* --------------------------------------------------- */

/* Abdulaziz Start */
.Abdulaziz {
  padding-bottom: 140px;
  background: #fff;
}


.second-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  column-gap: 50px;
}
.second-list__item {
  max-width: 290px;
}
.second-list__title2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 30px;
}
.second-list__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #333333;
  margin-bottom: 30px;
}

.second-list__wrap__link {
  display: inline-block;
  max-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #ea625c;
}
.second-list__span {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #dddddd;
  margin-right: 10px;
}
.second-list__wrap {
  display: flex;
  align-items: center;
}

.list__wrap2 {
  display: inline-block;
  width: 40px;
  height: 2px;
  background: #ea625c;
  margin-left: 10px;
}
.second-list__wrap__link {
  margin-left: 10px;
}

/* Abdulaziz End */

/* --------------------------------------------------- */

/* Sardor Start */

.Sardor {
  margin-bottom: 70px;
}
.nike {
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nike__content {
  max-width: 450px;
}
.nike__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 30px;
}
.nike__text {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #777777;
  display: flex;
  margin-bottom: 30px;
  padding-left: 40px;
}
.nike__text::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 96px;
  background-color: #888888;
  left: 0;
}
.nike__link {
  padding: 12px 90px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ea625c;
  display: inline-block;
}


/* Sardor End */

/* --------------------------------------------------- */

/* Begzod Start */

/* Begzod End */
